 .sign{
    background-color:#FFB3BA;
     padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
     /* margin: 100px;  */
    align-items: center; 
    border: 2px solid #b9c3ce;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif; 
    width: 450px;
    font-size: 20px; 
    transition: box-shadow 0.3s ease;
    margin-left:450px ;

} 